@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);

@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('../fonts/MonoSocialIconsFont-1.10.eot');
    src: url('../fonts/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MonoSocialIconsFont-1.10.woff') format('woff'),
         url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype'),
         url('../fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.symbol, a.symbol:before {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

a.symbol:before {
    content: attr(title);
    margin-right: 0.3em;
    font-size: 130%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font: 100%/1.5 'Open Sans', Helvetica, Tahoma, Sans-Serif;
}


.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

.site-header {
  min-height: 90px;
  background: #191919;
}

  .site-header__logo {
    margin: 0;
    color: #fff;
    font-size: 1.75rem; /* 28px */
    float: left;
    text-decoration: none;
    /*line-height: 90px;*/
    font-family: 'Roboto';
    position: relative;
    transform: translateY(50%);
  }

  .site-header__logo::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #3b3b3b;
    position: absolute;
    top: 0;
  }

  .site-header__logo::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #3b3b3b;
    position: absolute;
    bottom: 0;
  }

    .site-header__logo a {
      font-family: inherit;
      color: inherit;
      font-size: inherit;
      text-decoration: inherit;
      line-height: 1.5;
    }

    .site-header__logo a::after {
      content: "";
      background: #000 url(../img/stars.png) center no-repeat;
      width: 62px;
      height: 8px;
      position: absolute;
      left: 50%;
      bottom: -3px;
      z-index: 1;
      transform: translateX(-50%);
      display: block;
    }

  .site-header__menu {
    float: right;
  }

    .site-header__menu_item {
      float: left;
      color: #fff;
      font-weight: 300;
      list-style-type: none;
      padding: 0 15px;
      text-decoration: none;
      line-height: 90px;
      position: relative;
    }

    .site-header__menu_item:hover, .site-header__menu_item.selected {
      color: #32a2e3;
    }

      .site-header__menu_item a {
        color: inherit;
        font-weight: inherit;
        text-decoration: inherit;
      }

      .site-header__menu_item::after {
        content: "";
        display: block;
        width: 1px;
        height: 17px;
        background: #3b3b3b;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
      }

      .site-header__menu_item:last-child::after {
        display: none;
      }

.site-main {
  background: #ebebeb;
  min-height: 500px;
}

  .site-main__highlight {
    margin: 0;
    position: relative;
    height: 247px;
    overflow: hidden;
  }

    .site-main__highlight_photo {
      width: 100%;
    }

    .site-main__highlight_title {
      font-size: 1.25rem;
      position: absolute;
      bottom: 2%;
      left: 0;
      background: #32a2e3;
      padding: 0 5%;
      line-height: 45px;
      color: #fff;
    }

.site-footer {
  clear: both;
}

  .site-footer__copyright {
    float: left;
    font-size: 0.75rem; /* 12px */
    color: #bab9b9;
    line-height: 66px;
  }

  .site-footer__social {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

    .site-header__social_item {
      list-style-type: none;
      float: left;
      padding: 0 5px;
      line-height: 60px;
    }

    .site-header__social_item .symbol {
      font-size: 2rem;
      text-decoration: none;
      color: #d1d1d1;
    }

    .site-header__social_item .symbol:hover {
      color: #32a2e3;
    }

      .site-header__social_item a.symbol::before {
        margin: 0;
      }

  .site-footer__menu {
    float: right;
  }

    .site-footer__menu_item {
      float: left;
      color: #bab9b9;
      font-weight: 300;
      list-style-type: none;
      padding: 0 15px;
      text-decoration: none;
      line-height: 66px;
      font-size: 0.75rem; /* 12px */
    }

    .site-footer__menu_item:hover {
      color: #666;
    }
      .site-footer__menu_item a {
        color: inherit;
        font-weight: inherit;
        text-decoration: inherit;
      }

.basic-form,
.step {
  width: 80%;
  margin: auto;
}

  .step__title {
    margin: 0.5em 0 0 0;
    font-size: 1.5rem;
  }

  .step__description {
    margin-bottom: 1em;
    font-size: 1rem;
  }

.steps {
  clear: both;
  margin: auto;
  width: 80%;
  padding: 2% 0;
  border-bottom: 2px solid;
}

.steps__item {
  float: left;
  list-style-type: none;
  padding-left: 35px;
  position: relative;
  line-height: 26px;
  margin: 0 30px;
}

.steps__item:first-child {
  margin-left: 0;
}

.steps__item:last-child {
  margin-right: 0;
}

.steps__item::before {
  content: attr(title);;
  display: block;
  width: 26px;
  height: 26px;
  background: #fff;
  border: 1px solid #666;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  position: absolute;
  left: 0;
}

.steps--current::before {
  background: #32a2e3;
  color: #fff;
}


.information {
  position: fixed;
  right: 0;
  top: 90px;
  background: #fff;
  padding: 20px;
  box-shadow: -2px 2px 2px #ccc;
}

.disabled, .choiced {
  opacity: 0.5;
}
