iframe {
  width: 100%;
}

.site-main .wrapper {
  padding: 2em 0;
}

.site-main p {
  padding: 1em 0;
  line-height: 1.5;
}

.site-main dl {
  padding: 0.5em 0;
  font-weight: normal;
}

  .site-main dt {
    font-weight: bold;
    font-style: normal;
  }

.site-main a {
  font-weight: normal;
  font-style: normal;
  color: #000;
  text-decoration: none;
}