.site-main .wrapper {
  padding: 2em 0;
}

.site-main p {
  padding: 1em 0 2em;
  line-height: 1.5;
}

.site-main dt {
  font-weight: bold;
  font-style: normal;
  line-height: 1;
  padding-bottom: 0.5em;
}

.site-main a {
  font-weight: normal;
  font-style: normal;
  color: #000;
  text-decoration: none;
}

dl.room__item {
  padding-left: 23.828125%;
  line-height: 2;
  min-height: 180px;
}

.room--executive {
  background: url(../img/quarto1.jpg) no-repeat;
}

.room--premium {
  background: url(../img/quarto2.jpg) no-repeat;
}

.room--king {
  background: url(../img/quarto3.jpg) no-repeat;
}

.room--junior {
  background: url(../img/quarto4.jpg) no-repeat;
}

.room--presidencial {
  background: url(../img/quarto5.jpg) no-repeat;
}