.pure-u-1-2  {
  padding-bottom: 1em;
}

.pure-button {
  padding: 0.5em 4em;
  display: block;
  margin: 1em auto;
}

dl.room__item {
  padding-left: 30%;
}

.choice-room {
  margin: 0;
}

.price {
  font-size: 2rem;
}

.fields {
  width: 23%;
  margin: auto;
}

.or {
  text-align: center;
  width: 100%;
  line-height: 2;
  position: relative;
  padding-top: 10px;
}

.or::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #000;
  position: absolute;
  top: 0;
}

.or::after {
  content: " ou ";
  position: absolute;
  top: -16px;
  left: 50%;
  background: #ebebeb; 
  width: 30px;
  transform: translateX(-50%);
}