<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Hotel Boa Viagem</title>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
  <link rel="stylesheet" href="css/hbv.css">
  <link rel="stylesheet" href="css/quartos.css">
  <link rel="stylesheet" href="css/reservas.css">
</head>
<body>
  <header class="site-header">
    <div class="wrapper">
      <p class="site-header__logo"><a href="index.html">HOTEL BOA VIAGEM</a></p>
      <nav class="site-header__menu">
        <ul>
          <li class="site-header__menu_item"><a href="hotel.html">Hotel</a></li>
          <li class="site-header__menu_item"><a href="quartos.html">Quartos e Suites</a></li>
          <li class="site-header__menu_item selected"><a href="reservas.html">Reservas</a></li>
          <li class="site-header__menu_item"><a href="localizacao.html">Localização</a></li>
          <li class="site-header__menu_item"><a href="contato.html">Contato</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <main class="site-main">
    <figure class="site-main__highlight">
      <img src="img/reserva.jpeg" alt="" class="site-main__highlight_photo">
      <figcaption class="site-main__highlight_title">RESERVAS</figcaption>
    </figure>

    <div class="wrapper">
      <ul class="steps clearfix">
        <li class="steps__item" title="1">Escolha a data</li>
        <li class="steps__item steps--current" title="2">Escolha o quarto</li>
        <li class="steps__item" title="3">Informações do Hóspede</li>
        <li class="steps__item" title="4">Conclusão</li>
      </ul>

      <div class="step">
        <h1 class="step__title">Escolha o quarto</h1>
        <p class="step__description">Abaixo você pode escolher sua acomodação</p>
      </div>
      <form action="reservas-hospedes.html" class="pure-form pure-form-stacked basic-form">
        <fieldset>
            <dl class="room__item room--executive">
              <dt>APARTAMENTO EXECUTIVO</dt>
              <dd><span class="price">R$ 100,00</span> <button type="button" data-price="100" class="pure-button pure-button-primary choice-room">Escolha o Quarto</button></dd>
            </dl>
            <dl class="room__item room--premium">
              <dt>APARTAMENTO  PREMIUM</dt>
              <dd><span class="price">R$ 200,00</span> <button type="button" data-price="200" class="pure-button pure-button-primary choice-room">Escolha o Quarto</button></dd>
            </dl>
            <dl class="room__item room--king">
              <dt>APARTAMENTO KING CORNER PREMIUM</dt>
              <dd><span class="price">R$ 300,00</span> <button type="button" data-price="300" class="pure-button pure-button-primary choice-room">Escolha o Quarto</button></dd>
            </dl>
            <dl class="room__item room--junior">
              <dt>SUÍTE JÚNIOR PAULISTANA</dt>
              <dd><span class="price">R$ 400,00</span> <button type="button" data-price="400" class="pure-button pure-button-primary choice-room">Escolha o Quarto</button></dd>
            </dl>
            <dl class="room__item room--presidencial">
              <dt>SUÍTE PRESIDENCIAL TRIANON</dt>
              <dd><span class="price">R$ 500,00</span> <button type="button" data-price="500" class="pure-button pure-button-primary choice-room">Escolha o Quarto</button></dd>
            </dl>
        </fieldset>
      </form>
    </div>
  </main>
  <footer class="site-footer">
    <div class="wrapper">
      <p class="site-footer__copyright">&copy; 2015 - Hotel Boa Viagem - Todos os direitos reservados</p>
      
      <nav class="site-footer__social">
        <ul>
          <li class="site-header__social_item"><a href="#" class="symbol">circletwitterbird</span></a></li>
          <li class="site-header__social_item"><a href="#" class="symbol">circlefacebook</a></li>
          <li class="site-header__social_item"><a href="#" class="symbol">circleyoutube</a></li>
          <li class="site-header__social_item"><a href="#" class="symbol">circleflickr</a></li>
          <li class="site-header__social_item"><a href="#" class="symbol">circlepinterest</a></li>
        </ul>
      </nav>    

      <nav class="site-footer__menu">
        <ul>
          <li class="site-footer__menu_item"><a href="hotel.html">Hotel</a></li>
          <li class="site-footer__menu_item"><a href="quartos.html">Quartos e Suites</a></li>
          <li class="site-footer__menu_item"><a href="reservas.html">Reservas</a></li>
          <li class="site-footer__menu_item"><a href="contato.html">Contato</a></li>
        </ul>
      </nav>
    </div>
  </footer>  
  <script type="text/x-handlebars-template" id="infoReservation">
    <dl class="information">
      <dt>Detalhes da Sua Reserva:</dt>
      <dd>Data de Entrada: <strong>{{dataEntrada}}</strong></dd>
      <dd>Data de Saída: <strong>{{dataSaida}}</strong></dd>
      <dd>Quantidade de Quartos: <strong>{{qtdQuartos}}</strong></dd>
      <dd>Hóspedes Adultos: <strong>{{adultos}}</strong></dd>
      <dd>Hóspedes Crianças 0-5: <strong>{{criancasF2}}</strong></dd>
      <dd>Hóspedes Crianças 6-12: <strong>{{criancasF2}}</strong></dd>
      <dd>---</dd>
      <dd>Dias de Hospedagem: {{diasHospedagem}}</dd>
      <dd>Total da sua Hospedagem: <br> R$ <cite>{{total}}</dd>
      <dd><button type="submit" class="pure-button pure-button-primary continue {{status}}">CONTINUAR</button></dd>
    </dl>  
  </script>
  <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="js/handlebars-v3.0.3.js"></script>
  <script src="js/notify.min.js"></script>
  <script src="js/reservaStep2.js"></script>
  
</body>
</html>